<!-- <div id="floating-panel" ng-controller="mapCtrl">
  <form class="form-horizontal" id="start">
    <label>Start</label>
    <input type="text" ng-model="request.origin">
  </form>
  <form class="form-horizontal" id="end">
    <label>End</label>
    <input type="text" ng-model="request.destination">
  </form>
  <button ng-click="getDirections()">Get Directions</button>
</div> -->

<div ng-init="initMap()" ng-controller="mapCtrl">
  <div id="map"></div>
  <div id="directions-panel"></div>
  <!--<a ng-if="mapRender" href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>-->
</div>

<!--<script src="../slider.js"></script>-->