<div>
  <p>Submit an address or choose current location to get a personalized walking tour.</p>
  <form class="form-inline" ng-submit="enterAddress()" ng-enter="enterAddress()">
<!--     <div class="form-group">
      <input type="text" class="form-control" ng-model="$root.address" googleplace="" placeholder="Enter an address...">
    </div> -->
    <div class="form-group">
      <button type="button" id="geoLocator" ng-click="geoLocate()">
        <i class="fa fa-location-arrow fa-2x fa-fw" aria-hidden="true"></i>
      </button>
    </div>
    <div class="form-group">
      <input type="text" class="search-input" ng-model="$root.address" placeholder="  Start from current location or enter an address ...">
    </div>
<!--     <p></p>
    <button id="geo" type="submit" class="btn btn-primary btn-xl page-scroll">Search by Current Location</button>
    <br> -->
    <div class="form-group btn-group">
      <button class="dropdown-toggle" ng-model="category" type="button" id="categories" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{ chosenCategory }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li ng-repeat="category in categories" ng-click="chooseCategory(category)"> {{category.name}} </li>
      </ul>
    </div>
    <br>
    <br>
    <button id="entered" type="submit" class="btn btn-primary btn-xl page-scroll">Search</button>
  </form>

</div>
