@media screen and (min-width:30em){
    /*.infoWin2{
    	display:flex;
        flex-wrap: wrap;
        justify-content:right;
    }*/
    /*.placeTitle{
        flex-wrap: wrap;
        justify-content:right;
    }*/
}